<style>
	body {
		background: <%= @color %>;
		}
</style>


<h1>Places I'd Like To Visit</h1>
<p>I ride 1st class</p>
<p>Travel is good for the soul</p>

<% if @size > 12 %>
	<p>My shoe size is <%= @size %>. I have Huge feet.</p>
<% else %>
	<p>My shoe size is <%= @size %><p/>
<% end %>


